<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div>
        <article class="fon2">
            <form action="/" method="">
                <center>
                    <h2>Авторизация</h2>
                    <h6>Имя пользователя</h6>
                    <input class="focus" type="text" name="namePerson" maxlength="16" placeholder="Иван"><br>
                    <br>
                    <h6>Пароль</h6>
                    <input class="focus" type="password" name="pass" maxlength="32"><br>
                    <br>
                    <input type="reset" name="">
                    <br>
                    <br>
                    <input type="submit" name="submit" value="Отправить">
                    <br>
                    <br>
                    <h6>Нет аккаунта?</h6>
                    <br>
                    <input id="myBtn" type="button" value="Зарегестрироваться">
                </center>
            </form>
        </article>
        <br>
        <br>
        <br>
        <br>
        <div class="log" id="login">
            <article class="fon3">
                <form action="/" method="">
                    <center>
                        <h2 id="second">Регистрация</h2>
                        <h6>Электронная почта</h6>
                        <input class="focus" type="text" name="namePerson" maxlength="32" placeholder="frantsev_94@mail.ru"><br>
                        <br>
                        <h6>Имя пользователя</h6>
                        <input class="focus" type="text" name="namePerson" maxlength="16" placeholder="Иван"><br>
                        <br>
                        <h6>Пароль</h6>
                        <input class="focus" type="password" name="pass" maxlength="32"><br>
                        <br>
                        <h6>Введите пароль еще раз</h6>
                        <input class="focus" type="password" name="pass" maxlength="32"><br>
                        <br>
                        <input type="reset" name="">
                        <br>
                        <br>
                        <input type="submit" name="submit" value="Зарегестрироваться">
                    </center>
                </form>
            </article>
        </div>
    </div>


</body>
</html>
