@{
    ViewData["Title"] = " ";
}
<h1>@ViewData["Title"]</h1>


<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/javascript" href="~/js/bookcheck.js" />
</head>
<body>
    <div id="logo">
        Поиск книг
    </div>
    <article class="fon1">
        <center>
            <form>
                <input type="text" placeholder="Искать здесь...">
                <button type="submit"></button>
            </form>
        </center>
        <hr width="1200px" align="left" NoShade>
    </article>
    
</body>
</html>