@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
        <div id="logo">
           Добро пожаловать на bookcheck
        </div>
    <article class="fon1">
        
    </article>
</body>
</html>