/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
#logo {
    font-family: Helvetica, sans-serif;
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    text-align: center;
    margin-bottom: 26px;
    background: rgb(0, 0, 255);
    border-radius: 10px 10px 10px 10px;
    padding: 12px;
}
body {
    background-image: url(../img/fon.jpg);
    background-attachment: fixed;
}
footer{
    background: #fff
}
fon{
    background-image: url(../img/fon1.jpg);
    border-radius: 10px 10px 10px 10px;
    position: center;
    display: flex;
}
.fon1 {
    background: #fff;
    background-attachment: fixed;
    width: 1100px;
    height: 800px;
    position: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    max-width: 760px;
    margin: 0 auto;
}
.header span{
    display:block;

}
.fon2 {
    border: 3px solid #0000CD;
    background: #fff;
    background-attachment: fixed;
    width: 350px;
    height: 500px;
    position: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    max-width: 760px;
    margin: 0 auto;
}
.fon3 {
    border: 3px solid #0000CD;
    background: #fff;
    background-attachment: fixed;
    width: 350px;
    height: 550px;
    position: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    max-width: 760px;
    margin: 0 auto;
}
#logo1 {
    font-family: Helvetica, sans-serif;
    font-size: 2.1em;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    text-align: center;
    margin-bottom: 26px;
    background: rgb(255, 0, 0);
    border-radius: 10px 10px 10px 10px;
    padding: 12px;
}
* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: black;
}

button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: black;
}

    button:before {
        content: "\f002";
        font-family: FontAwesome;
        font-size: 16px;
        color: black;
    }


